<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ut.lulyfan.exrobot">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/udlogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="icon">
        <activity android:name=".ui.SettingActivity">
        </activity>
        <activity android:name=".ros.MyRosActivity" />
        <activity
            android:name=".ui.ExActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ros.MasterActivity" />
        <activity android:name=".ros.ClientActivity" />
        <activity android:name=".ui.RootActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".util.liftUtil.LiftService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>